<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
<header class="header">
    <div class="section">

        <div class="headerflex">
            <a> href="index.html" class="title ahref">Заметки</a>
            <div class="headerflex2">
                <a> href="trashCan.html" class="ahref2">корзина</a>
                <a> href="authoriz.html" class="ahref2">войти</a>
            </div>
        </div>

    </div>
</header>

<div class="section">
    <form>
        <div class="mb-3 textcursive">
            <label for="exampleInputEmail1" class="form-label" >Адрес электронной почты</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Мы никогда никому не передадим вашу электронную почту.</div>
        </div>
        <div class="mb-3 textcursive">
            <label for="exampleInputPassword1" class="form-label">Пароль</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check textcursive">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Проверить меня</label>
        </div>
        <button type="submit" class="btn btn-secondary textcursive">Отправить</button>
    </form>
</div>

<footer class="footer">
    <div class="section">
        <div class="footertext">Контактная информация</div>

        <div class="footerflex">
            <div class="footerbox">
                8 (800) 600-86-76<br>
                8 (800) 600-86-76
            </div>
            <div class="footerbox">
                СПбУТУиЭ
            </div>
            <div class="footerbox">
                © 2026 NoteTaking
            </div>
        </div>
    </div>
</footer>
</body>
</html>