<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>Document</title>
</head>
<body>
<header class="header">
    <div class="section">

        <div class="headerflex">
            <a href="index.html" class="title ahref">Заметки</a>
            <div class="headerflex2">
                <a href="trashCan.html" class="ahref2">корзина</a>
                <a href="profile.html" class="ahref2">Профиль</a>
                <a href="authoriz.html" class="ahref2">войти</a>
            </div>
        </div>

    </div>
</header>


<section class="section content">
    <form th:action="@{/zametki/add}" th:object="${zametka}" method="post">
        <p>
            <label>Название:
                <input type="text" th:field="*{name}" required/>
            </label>
        </p>
        <p>
            <label>Описание:
                <textarea th:field="*{description}" rows="4"></textarea>
            </label>
        </p>
        <button type="submit">Сохранить</button>
    </form>
</section>


<footer class="footer">
    <div class="section">
        <div class="footertext">Контактная информация</div>

        <div class="footerflex">
            <div class="footerbox">
                8 (800) 600-86-76<br>
                8 (800) 600-86-76
            </div>
            <div class="footerbox">
                СПбУТУиЭ
            </div>
            <div class="footerbox">
                © 2026 NoteTaking
            </div>
        </div>
    </div>
</footer>
</body>
</html>

